.wd-button-svg {
  width: 190px;
  height: 50px;
}
.life-osuv {
  padding: 147px 60px 73px;
  .dotted-panel {
    position: relative;
    // height: 720px;
    .dot-bg {
      width: 100%;
      &-android {
        transform: rotateY(180deg);
      }
    }
    .round-board {
      position: absolute;
      width: 540px;
      height: 550px;
      top: ~"calc(50% - 13px)";
      left: ~"calc(50% + 25px)";
      transform: translateX(-50%) translateY(-50%);
    }
    .center-logo {
      position: absolute;
      width: 77px;
      height: 88px;
      top: ~"calc(50% - 23px)";
      left: ~"calc(50% + 25px)";
      transform: translateX(-50%) translateY(-50%);
    }
    .title-button {
      position: absolute;
      bottom: 26px;
      left: ~"calc(50% + 25px)";
      transform: translateX(-50%);
    }
    .center-logo-android {
      position: absolute;
      width: 79px;
      height: 96px;
      top: 48%;
      left: ~"calc(50% + 25px)";
      transform: translateX(-50%) translateY(-50%);
    }
  }
}