.map-scatter {
  padding-top: 72px;
  width: 1617px;
  height: 736px;
  position: relative;
  top: 202px;
  text-align: right;
  margin: 0 auto;

  .map-scatter-img {
    width: 960px;
  }
  .area-map-tag {
    animation: area-map 2s ease-out;
  }

  @keyframes area-map {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }

  .area-map {
    width: 776px;
    height: 515px;
    position: absolute;
    background: url("/img/build-bg.png") no-repeat center;
    background-size: cover;
    .animate-wrap {
      width: 160px;
      height: 106px;
      position: absolute;
      left: 74px;
      top: 77px;
    }
    left: 94px;
    top: 50%;
    transform: translateY(-50%);
    .map-container {
      width: 500px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
    .map {
      width: 100%;
      height: 100% !important;
    }
  }

  .small-area-img {
    width: 234px;
    height: 446px;
    border: none;
    position: absolute;
    left: 33px;
    top: 33px;
  }

  .name {
    width: 119px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 39px;
    color: #00c1ff;
    position: absolute;
    left: 88px;
    bottom: 52px;
  }

  .line {
    position: absolute;
    background: linear-gradient(to bottom right, #0057ff 60%, #0effb5 100%);
  }

  .line-0-0 {
    height: 1PX;
    width: 607px;
    left: 740px;
    top: 229px;
  }
  .line-0-1 {
    height: 100px;
    width: 1PX;
    left: 1347px;
    top: 229px;
  }
  .line-1-0 {
    height: 1px;
    width: 676px;
    left: 745px;
    top: 235px;
  }
  .line-1-1 {
    height: 222px;
    width: 1PX;
    left: 1419px;
    top: 235px;
  }
  .line-2-0 {
    height: 1PX;
    width: 558px;
    left: 756px;
    bottom: 183px;
  }
  .line-2-1 {
    height: 77px;
    width: 1PX;
    left: 1313px;
    bottom: 106px;
  }

  .circle {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: inline-block;
    box-shadow: 0 0 4px 0 rgba(43, 31, 3, 0.72);
    position: absolute;
    background: linear-gradient(rgba(113, 255, 163, 0.39) 50%, #fff42e 50%);
    border: 1px solid #0dffb5;
    animation: circle-area 1s infinite;
  }

  @keyframes circle-area {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      tranform: scale(1.1);
    }
  }

  .circle-0 {
    left: 1347px;
    top: 329px;
  }
  .circle-1 {
    left: 1421px;
    top: 459px;
  }
  .circle-2 {
    left: 1313px;
    bottom: 98px;
  }
}

.show {
  visibility: visible !important;
}

.month-container {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  .dot {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    z-index: 2;
    background: #11ABFF;
  }
  /* 产生动画（向外扩散变大）的圆圈  */
  .pulse {
    position: absolute;
    width: 34px;
    height: 34px;
    border: 6px solid #11ABFF;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
    animation: warn 2s ease-out infinite;
    //box-shadow: 1px 1px 30px #11ABFF;
    background: #11ABFF;
  }

  .pulse1 {
    position: absolute;
    width: 68px;
    height: 68px;
    //border: 6px solid #11ABFF;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.3;
    animation: warn1 2s ease-out infinite;
    background: #11ABFF;
  }
}

.line-container {
  position: absolute;
  width: 160px;
  height: 60px;
  left: 0;
  top: 40px;
  .hover-line {
    position: absolute;
    width: 30px;
    height: 1px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #11ABFF;
  }
  .hover-line:nth-child(1) {
    right: 15px;
    top: 5px;
    animation: hover-line 2.5s ease-out infinite alternate-reverse;
  }
  .hover-line:nth-child(2) {
    right: 0;
    top: 20px;
    animation: hover-line2 2.5s .3s ease-out infinite alternate-reverse;
  }
  .hover-line:nth-child(3) {
    left: 0;
    top: 35px;
    animation: hover-line 2.5s .6s ease-out infinite alternate-reverse;
  }
  .hover-line:nth-child(4) {
    left: 15px;
    top: 50px;
    animation: hover-line2 2.5s .9s ease-out infinite alternate-reverse;
  }
}

@keyframes hover-line {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes hover-line2 {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes warn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  25% {
    transform: scale(0.3);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.3;
  }

  75% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}

@keyframes warn1 {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  25% {
    transform: scale(0.3);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.3);
    opacity: 0.3;
  }

  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
