html {
    font-size: 62.5%;
    width: 1920px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.bg {
    background-color: #074eb6;
    -webkit-background-size: cover;
    background-size: cover;
}
.container {
    position: relative;
    height: 100%;
    padding: 63px 79px 70px 79px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.header {
    overflow: hidden;
    margin-bottom: 122px;
}
.header .title {
    font-family: FZLanTingHeiS-H-GB;
    width: 390px;
    height: 79px;
    background: url(../img/title-bg.png);
    font-size: 44px;
    text-align: center;
    line-height: 89px;
    color: #fff;
    float: left;
}
.header .title.title-lg {
    width: 440px;
    background: url(../img/title-bg-lg.png);
}
.header .logo {
    font-family: FZLanTingHeiS-R-GB;
    height: 77px;
    width: 320px;
    background: url(../img/wddata.png) no-repeat;
    color: transparent;
    font-size: 38px;
    line-height: 65px;
    text-indent: 86px;
    float: right;
    margin-top: 7px;
}
@keyframes scan
{
    0% {top: 1344px;}
    7% {top: -1344px;}
    100% {top: -1344px;}
}

.scan-bar {
    display: block;
    width: 100%;
    height: 1080px;
    z-index: 50;
    background: url(../img/scan.png) no-repeat;
    position: absolute;
    top: 1344px;
    left: 0;

    -webkit-animation: scan 60s;
    -o-animation: scan 60s;
    animation: scan 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@media all and (orientation : landscape) {   /*横屏*/

}

@media all and (orientation : portrait) {   /*竖屏*/
    html {
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
