html {
    font-size: 68.5%;
}
.header {
    margin-bottom: 50px;
}
.bg {
    background-image: url(../img/bg-preference.jpg);
}
.radar-label {
    display: block;
    position: relative;
}
.radar-label:before, .radar-label:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
}
.label-0 {
    padding: 0 15px 10px 15px;
    top: -30px;
}
.label-0:before {
    bottom: -9px;
    left: 50%;
    margin-left: -3px;
}
.label-0:after {
    display: none;
}
.label-1, .label-2, .label-3, .label-4 {
    border-right: 1px solid #3d94ff;
    border-bottom: 1px solid #3d94ff;
    padding: 0 15px 10px 15px;
    top: -20px;
    right: -10px;
}
.label-1:before, .label-2:before, .label-3:before, .label-4:before {
     right: -3px;
     top: -9px;
 }
.label-1:after, .label-2:after, .label-3:after, .label-4:after {
    bottom: -3px;
    left: -9px;
}
.label-5 {
    border-right: 1px solid #3d94ff;
    border-top: 1px solid #3d94ff;
    padding: 10px 15px 0 15px;
    bottom: -20px;
    right: -10px;
}
.label-5:before {
    right: -3px;
    bottom: -9px;
}
.label-5:after {
    top: -3px;
    left: -9px;
}
.label-6 {
    padding: 10px 15px 0 15px;
    bottom: -30px;
}
.label-6:before {
    top: -9px;
    left: 50%;
    margin-left: -3px;
}
.label-6:after {
    display: none;
}
.label-7 {
    border-left: 1px solid #3d94ff;
    border-top: 1px solid #3d94ff;
    padding: 10px 15px 0 15px;
    bottom: -20px;
    left: -10px;
}
.label-7:before {
    left: -3px;
    bottom: -9px;
}
.label-7:after {
    top: -3px;
    right: -9px;
}
.label-8, .label-9, .label-10, .label-11 {
    border-left: 1px solid #3d94ff;
    border-bottom: 1px solid #3d94ff;
    padding: 0 15px 10px 15px;
    top: -20px;
    left: -10px;
}
.label-8:before, .label-9:before, .label-10:before, .label-11:before {
    left: -3px;
    top: -9px;
}
.label-8:after, .label-9:after, .label-10:after, .label-11:after {
    bottom: -3px;
    right: -9px;
}
.area-container {
    float: left;
}
.right {
    overflow: hidden;
}

.pie-container {
    overflow: hidden;
    margin-bottom: 50px;
}
#pie-apple, #pie-mi, #pie-samsung {
    float: left;
}
.pie-container .info {
    overflow: hidden;
    padding-top: 15px;
}
.pie-container .info p {
    font-family: FZLanTingHei-L-GBK;
    font-size: 2.6rem;
    color: #fff;
    margin: 16px 0 16px 55px;
}
.pie-title {
    font-family: Roboto;
    font-weight: lighter;
    display: block;
    width: 176px;
    height: 176px;
    border-radius: 88px;
    border: 2px solid #18569d;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    right: -89px;
    top: 19px;
    line-height: 230px;
}
#pie-apple .pie-title {
    background: url(../img/map.png) no-repeat 50% 25%;
}

#pie-mi .pie-title {
    background: url(../img/cart.png) no-repeat 50% 25%;
}

#pie-samsung .pie-title {
    background: url(../img/money.png) no-repeat 50% 25%;
}
