html {
    font-size: 68.5%;
}
.header {
    margin-bottom: 21px;
}
.bg {
    background-image: url(../img/bg-user.jpg);
}
.container h1.title {
    font-family: FZLanTingHeiS-B-GB;
    font-size: 2.8rem;
    font-weight: normal;
    color: #ffc50e;
    margin-left: 70px;
}
@keyframes updown
{
    0% {top: 599px;}
    100% {top: 569px;}
}
.container .user {
    width: 292px;
    height: 301px;
    background: url(../img/user.png);
    position: absolute;
    left: 50%;
    margin-left: -146px;
    top: 599px;
    -webkit-animation: updown 2s;
    -o-animation: updown 2s;
    animation: updown 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.container .legend {
    font-family: FZLanTingHeiS-R-GB;
    font-size: 2.77rem;
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -270px;
    top: 507px;
}
.legend .block {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
}

.fudao {
    position: absolute;
}
.pie-bg {
    display: block;
    width: 215px;
    height: 215px;
    position: absolute;
    right: -111px;
    top: 5px;
    background: url(../img/fudao-bg.png);
    z-index: -1;
    text-align: center;
}
.fudao .pie-bg:before {
    content: '';
    display: inline-block;
}
#fudao-yihun {
    left: 288px;
    top: 366px;
}
#fudao-yihun .pie-bg:before {
    width: 63px;
    height: 45px;
    background: url(../img/yihun.png);
    margin-top: 85px;
}
#fudao-nianling {
    left: 420px;
    top: 940px;
    zoom: 0.814;
}
#fudao-nianling .fudao-legend {
    zoom: 1.23;
}
#fudao-nianling .bar {
    width: 100px;
}
#fudao-nianling .pie-bg:before {
    width: 33px;
    height: 36px;
    background: url(../img/nianling.png);
    margin-top: 70px;
    zoom: 1.23;
}
#fudao-gouwu {
    right: 450px;
    top: 1120px;
    zoom: 0.744;
}
#fudao-gouwu .fudao-legend {
    zoom: 1.344;
}
#fudao-gouwu .pie-bg:before {
    width: 44px;
    height: 40px;
    background: url(../img/gouwu.png);
    margin-top: 60px;
    margin-left: -10px;
    zoom: 1.344;
}
#fudao-yuying {
    right: 580px;
    top: 700px;
    zoom: 0.712;
}
#fudao-yuying .fudao-legend {
    zoom: 1.404;
}
#fudao-yuying .pie-bg:before {
    width: 29px;
    height: 41px;
    background: url(../img/yuying.png);
    margin-top: 60px;
    margin-left: -5px;
    zoom: 1.404;
}
#fudao-nannv {
    right: 880px;
    top: 350px;
    zoom: 0.712;
}
#fudao-nannv .fudao-legend {
    zoom: 1.404;
}
#fudao-nannv .pie-bg:before {
    width: 39px;
    height: 33px;
    background: url(../img/nannv.png);
    margin-top: 60px;
    margin-left: -5px;
    zoom: 1.404;
}
.flipx {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
#fudao-yihun .fudao-legend {
    left: 50%;
    top: -135px;
}
#fudao-yuying .fudao-legend {
    right: 50%;
    top: -135px;
}
#fudao-gouwu .fudao-legend {
    right: 50%;
    top: -135px;
}
#fudao-nannv .fudao-legend {
    right: 50%;
    top: -135px;
    height: 155px;
}
#fudao-nannv .fudao-legend .legend-body {
    margin-left: 95px;
}
#fudao-nannv .fudao-legend .legend-body.legend-2 {
    margin-top: -10px;
    margin-bottom: 30px;
}
#fudao-nianling .fudao-legend {
    right: 50%;
    top: -135px;
    border-left: none;
    border-right: 1px dashed #7da9ff;
    width: 380px;
    height: 160px;
}
#fudao-nianling .fudao-legend .title {
    width: 90px;
}
#fudao-nianling .fudao-legend .legend-body.legend-2 {
    margin-top: -10px;
    margin-bottom: 30px;
}
.fudao-legend {
    position: absolute;
    border-left: 1px dashed #7da9ff;
}
.fudao-legend > h2 {
    font-family: FZLanTingHei-L-GBK;
    font-size: 2.4rem;
    font-weight: normal;
    color: #fff;
    margin: 0 0 15px 0;
    padding: 5px 0 20px 15px;
    border-bottom: 1px dashed #7da9ff;
    position: relative;
}
.fudao-legend > h2:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background: #7da9ff;
    position: absolute;
    bottom: -3px;
    left: -3px;
}
.fudao-legend > h2:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background: #7da9ff;
    position: absolute;
    bottom: -3px;
    right: -3px;
}
.fudao-legend .legend-body {
    overflow: hidden;
    width: 370px;
    margin-bottom: 17px;
}
.fudao-legend .legend-body > .title {
    font-family: FZLanTingHei-L-GBK;
    display: block;
    width: 80px;
    height: 26px;
    float: left;
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
}
.fudao-legend .legend-body > .bar {
    overflow: hidden;
    display: block;
    width: 170px;
    height: 26px;
    box-sizing: border-box;
    padding-top: 9px;
    position: relative;
    float: left;
}
.fudao-legend .legend-body > .bar > span {
    position: absolute;
    display: block;
    height: 7px;
    border-radius: 3px;
    width: 50%;
    z-index: 2;
    background: #ffc50e;
}
.fudao-legend .legend-body.legend-2 > .bar > span {
    background: #28a3f9;
    width: 30%;
}
.fudao-legend .legend-body > .bar:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 3px;
    background: #1d3975;
    z-index: 1;
}
.fudao-legend .legend-body > .percent {
    font-family: FZLanTingHeiS-R-GB;
    display: block;
    width: 80px;
    height: 26px;
    float: left;
    font-size: 2.4rem;
    color: #ffc50e;
    padding-left: 20px;
}
.fudao-legend .legend-body.legend-2 > .percent {
    color: #28a3f9;
}
