.header {
    margin-bottom: 21px;
}
.bg {
    background-image: url(../img/bg-user.jpg);
}
.container h1.title {
    font-family: FZLanTingHeiS-B-GB;
    font-size: 2.8rem;
    font-weight: normal;
    color: #ffc50e;
    margin-left: 70px;
}
@keyframes fudao-1
{
    0% {bottom: 20px;}
    100% {bottom: 0;}
}
.fudao-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-animation: fudao-1 2s;
    -o-animation: fudao-1 2s;
    animation: fudao-1 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes fudao-2
{
    0% {bottom: 133px;}
    100% {bottom: 113px;}
}
.fudao-2 {
    position: absolute;
    right: 46px;
    bottom: 113px;
    -webkit-animation: fudao-2 2s;
    -o-animation: fudao-2 2s;
    animation: fudao-2 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes updown
{
    0% {top: 599px;}
    100% {top: 569px;}
}
.container .user {
    width: 292px;
    height: 301px;
    background: url(../img/user.png);
    position: absolute;
    left: 50%;
    margin-left: -146px;
    top: 599px;
    -webkit-animation: updown 2s;
    -o-animation: updown 2s;
    animation: updown 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.pie-bg {
    display: block;
    width: 314px;
    height: 313px;
    position: absolute;
    right: -158px;
    top: 3px;
    background: url(../img/user4-pie-bg.png) no-repeat;
    z-index: -1;
    text-align: center;
    padding-top: 95px;
}
.pie-bg .percent {
    font-family: FZLanTingHeiS-R-GB;
    font-size: 6.4rem;
    color: #ffc50e;
}
.pie-bg .percent > small {
    font-size: 3.2rem;
}
.pie-bg .title {
    font-family: FZLanTingHeiS-R-GB;
    font-size: 3.2rem;
    color: #fff;

}
.pie {
    position: absolute;
}
#pie-1 {
    left: 264px;
    top: 333px;
    zoom: 0.944;
}
#pie-1 .pie-bg .percent, #pie-1 .pie-bg .title {
    zoom: 1.06;
}

#pie-2 {
    left: 73px;
    top: 631px;
    zoom: 0.85;
}
#pie-2 .pie-bg .percent, #pie-2 .pie-bg .title {
    zoom: 1.18;
}

#pie-3 {
    left: 435px;
    top: 703px;
    zoom: 0.85;
}
#pie-3 .pie-bg .percent, #pie-3 .pie-bg .title {
    zoom: 1.18;
}

#pie-4 {
    right: 226px;
    top: 158px;
}

#pie-5 {
    right: 472px;
    top: 484px;
    zoom: 0.90;
}
#pie-5 .pie-bg .percent, #pie-5 .pie-bg .title {
    zoom: 1.11;
}

#pie-6 {
    right: 120px;
    top: 540px;
    zoom: 0.90;
}
#pie-6 .pie-bg .percent, #pie-6 .pie-bg .title {
    zoom: 1.11;
}