html {
    font-size: 68.5%;
}
.header {
    margin-bottom: 21px;
}
.bg {
    background-image: url(../img/bg-user.jpg);
}
.container h1.title {
    font-family: FZLanTingHeiS-B-GB;
    font-size: 2.8rem;
    font-weight: normal;
    color: #ffc50e;
    margin-left: 70px;
}

@keyframes updown
{
    0% {top: 599px;}
    100% {top: 569px;}
}
.container .user {
    width: 292px;
    height: 301px;
    background: url(../img/user.png);
    position: absolute;
    left: 50%;
    margin-left: -146px;
    top: 599px;
    -webkit-animation: updown 2s;
    -o-animation: updown 2s;
    animation: updown 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.pie-bg {
    display: block;
    width: 314px;
    height: 313px;
    position: absolute;
    right: -158px;
    top: 3px;
    background: url(../img/user4-pie-bg.png) no-repeat;
    z-index: -1;
    text-align: center;
    padding-top: 110px;
}
.pie-bg2 {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    border: 1px solid rgba(0, 192, 255, 0.2);
    position: absolute;
    left: -56px;
    top: 30px;
    text-align: center;
}
.pie-orange .pie-bg2 {
    border: 1px solid rgba(255,197,14, 0.2);
}
.pie-bg .percent {
    font-family: FZLanTingHeiS-R-GB;
    font-size: 5.4rem;
    color: #fff;
}
.pie-bg2 .percent {
    font-family: FZLanTingHeiS-R-GB;
    font-size: 3.4rem;
    color: #ffc50e;
    position: relative;
    top: 30px;
    left: 3px;
}
.pie-bg2 .percent small {
    font-size: 1.8rem;
}
.pie-bg .title {
    font-family: FZLanTingHeiS-R-GB;
    font-size: 4.6rem;
    color: #ffc50e;
    line-height: 50px;
}
.pie, .pie2 {
    position: absolute;
}
.pie2 {
    zoom: 0.86;
    width: 100%;
}
.pie2 > ul {
    font-family: FZLanTingHeiS-R-GB;
    zoom: 1.16;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.8rem;
    position: absolute;
    left: 185px;
    top: 93px;
}
.pie2 > ul > li {
    padding: 8.5px 0;
}
.pie-orange ul {
    color: #ffc50e;
}
.pie-blue ul {
    color: #00c0ff;
}
#pie-1 {
    left: 1271px;
    top: 579px;
    zoom: 0.6;
}
#pie-2 {
    left: 1601px;
    top: 650px;
    zoom: 0.6;
}
.pie-orange {
    left: 100px;
}
.pie-blue {
    left: 1532px;
}
#pie-3 {
    top: 216px;
}
#pie-4 {
    top: 517px;
}
#pie-5 {
    top: 832px;
}
#pie-6 {
    top: 194px;
}
#pie-7 {
    top: 511px;
}
#pie-8 {
    top: 801px;
}
