html {
    font-size: 68.5%;
}
.header {
    margin-bottom: 21px;
}
.bg {
    background-image: url(../img/bg-user2.jpg);
}
.container h1.title {
    font-family: FZLanTingHeiS-B-GB;
    font-size: 2.8rem;
    font-weight: normal;
    color: #ffc50e;
    margin-left: 70px;
}
@keyframes updown
{
    0% {top: 599px;}
    100% {top: 569px;}
}
.container .user {
    width: 292px;
    height: 301px;
    background: url(../img/user.png);
    position: absolute;
    left: 50%;
    margin-left: -116px;
    top: 599px;
    -webkit-animation: updown 2s;
    -o-animation: updown 2s;
    animation: updown 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.favor {
    height: 226px;
    width: 545px;
    position: absolute;
    right: 115px;
    top: 200px;
}
.favor > div {
    font-family: FZLanTingHeiS-R-GB;
    position: absolute;
    font-size: 2.245rem;
    color: #fff;
}
.favor > div > p {
    margin: 0;
}
.favor > .favor-3 {
    left: 30px;
    bottom: 50px;
}
.favor > .favor-3 > img {
    position: relative;
    top: -20px;
    left: 10px;
}
.favor > .favor-1 {
    left: 150px;
    bottom: 110px;
}
.favor > .favor-1 > img {
    position: relative;
    top: -25px;
}
.favor > .favor-2 {
    left: 260px;
    bottom: 60px;
}
.favor > .favor-2 > img {
    position: relative;
    top: -20px;
}
.favor > .favor-4 {
    left: 360px;
    bottom: 40px;
}
.favor > .favor-4 > img {
    position: relative;
    top: -23px;
    left: 10px;
}
.favor > .favor-5 {
    left: 450px;
    bottom: 0;
}
.favor > .favor-5 > img {
    position: relative;
    top: -20px;
}
.price {
    font-family: FZLanTingHei-L-GBK;
    font-size: 2rem;
    color: #fff;
    width: 318px;
    height: 240px;
    position: absolute;
    right: 183px;
    top: 672px;
}
.price > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.price > ul > li {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    background: rgba(13, 39, 83, 0.5);
    padding-left: 12px;
}
.price > ul > li > b {
    position: absolute;
    z-index: 2;
}
.price > ul > li > span {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    height: 100%;
    border: 2px solid #0084ff;
    background: rgba(0, 132, 255, 0.3);
    line-height: 40px;
    width: 50%;
    z-index: 1;
}
.changqu {
    width: 600px;
}
.changqu > div {
    overflow: hidden;
}
.changqu .pie {
    float: left;
}
.changqu .info {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.pie-bg {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    border: 1px solid rgba(0, 192, 255, 0.2);
    position: absolute;
    left: -56px;
    top: 30px;
    text-align: center;
}
#pie-1 .pie-bg {
    border: 1px solid rgba(255,197,14, 0.2);
}
.changqu .info h2 {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 5.6rem;
    color: #fff;
    margin: 0 0 7px 0;
}
.changqu .info p {
    font-size: 3.6rem;
    color: #00c0ff;
    margin: 0 0 7px 0;
}
.changqu-1 .info p {
    color: #ffc50e;
}
.pie-bg:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
}
.high-places .pie-bg:before {
    width: 34px;
    height: 44px;
    background-image: url(../img/high-places-b.png);
    left: 37px;
    top: 30px;
}
#pie-1.high-places .pie-bg:before {
    background-image: url(../img/high-places.png);
}
#pie-1.scenic-spot .pie-bg:before {
    background-image: url(../img/scenic-spot.png);
}
#pie-1.airport .pie-bg:before {
    background-image: url(../img/airport.png);
}
#pie-1.start-hotels .pie-bg:before {
    background-image: url(../img/star-hotels.png);
}
#pie-1.golf-club .pie-bg:before {
    background-image: url(../img/golf-club.png);
}
.scenic-spot .pie-bg:before {
    width: 49px;
    height: 55px;
    background-image: url(../img/scenic-spot-b.png);
    left: 20px;
    top: 15px;
    zoom: 1.244;
}
.airport .pie-bg:before {
    width: 49px;
    height: 52px;
    background-image: url(../img/airport-b.png);
    left: 20px;
    top: 16px;
    zoom: 1.244;
}
.start-hotels .pie-bg:before {
    width: 33px;
    height: 56px;
    background-image: url(../img/star-hotels-b.png);
    left: 30px;
    top: 15px;
    zoom: 1.244;
}
.golf-club .pie-bg:before {
    width: 48px;
    height: 55px;
    background-image: url(../img/golf-club-b.png);
    left: 20px;
    top: 15px;
    zoom: 1.244;
}
.changqu-2, .changqu-3, .changqu-4, .changqu-5 {
    zoom: 0.804;
    display: inline-block;
    margin-bottom: 60px;
}
.changqu {
    margin-top: 110px;
}
.changqu-1 {
    margin-bottom: 63px;
}
