// .echarts-body canvas{
//   top:-80px !important;
// }

.right-sub-title{
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid rgba(193,223,255,0.30);
  margin-bottom: 15px;
}

.overview-month-group {
  width: 100%;
  .overview-month {
    margin: 10px 5px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: ~"calc(100% / 12 - 10px)";
    text-align: center;
    padding: 5px;
    height: 100%;
    &.ant-radio-button-wrapper-checked {
      border-color: #108ee9;
      box-shadow: none !important;
    }
  }
}
