.analysis-container {
  height: 100%;
  .left-container {
    flex: 1;
    height: 687px;
    width: 820px;
    padding: 0 20px;
    position: relative;
    .tag {
      position: absolute;
      opacity: 0;
    }
    .tag-0 {
      left: 30px;
      top: 350px;
    }
    .tag-1 {
      left: 220px;
      top: 250px;
    }
    .tag-2 {
      top: 80px;
      left: 320px;
    }
    .tag-3 {
      top: 150px;
      left: 550px;
    }
    .tag-title {
      width: 170px;
      height: 50px;
      color: #108ee9;
      background: transparent;
      border: 1px solid #108ee9;
      text-align: center;
      animation: jumptitle 5s linear infinite;
      animation-direction: alternate;
    }
    @keyframes jumptitle {
      0% {
        transform: translateY(-23%);
      }
      50% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(23%);
      }
    }
    .tag-tail {
      position: absolute;
      left: 85px;
      top: 60px;
      width: 0;
      height: 200px;
      border: 1px dashed #108ee9;
    }
    .tag-tail-0 {
      height: 100px;
    }
    .tag-tail-1 {
      height: 100px;
    }
    .tag-tail-2 {
      height: 180px;
    }
    .tag-tail-3 {
      height: 100px;
    }
    .left-img {
      width: 768px;
      height: 452px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .overview-month-group {
      width: 100%;
      .overview-month {
        margin: 10px 5px;
        padding: 15px 5px;
        border: 1px solid #108ee9;
        border-radius: 10px;
        width: ~"calc(100% / 12 - 10px)";
        text-align: center;
        padding: 5px;
        height: 100%;
        color: #fff;
        background: transparent;
        &.ant-radio-button-wrapper-checked {
          background: #108ee9;
          box-shadow: none !important;
        }
      }
      .ant-radio-button-wrapper:not(:first-child)::before {
        width: 0 !important;
      }
    }
  }
}
