.container{
    width: 100%;
    height: 100%;
    border-top:1px solid transparent;
    background: linear-gradient(to left bottom, #02041D, #041B26);
    .customer-svg-container{
        position:relative;
        margin-top:100px;
        .svg{
            margin:0 30px;
        }
        .layout-cicle{
            animation:circlef 2s linear infinite
        }
        .circle-1{
            animation-delay: 1s;
        }
        .circle-2{
            animation-delay: 2s;
        }
        .circle-3{
            animation-delay: 3s;
        }
        .circle-4{
            animation-delay: 4s;
        }
        .circle-5{
            animation-delay: 5s;
        }
        .circle-6{
            animation-delay: 6s;
        }
        @keyframes circlef {
            from {
                opacity:1;
            }
            to {
                opacity:0;
            }
        }
        .customer-content{
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            display: flex;
            .Td-people{
                position:absolute;
                z-index: 100;
            }
            .circle-line{
                    position:absolute;
                    width:40%;
                    height:30%;
                    left:60%;
                    top:5%;
                    transform:translate(-50%);
                    z-index: 99;
            }
            .customer-box {
                flex:1;
                padding:50px;
                position:relative;
                overflow:hidden;
                .Td-people{
                    position:absolute;
                    top:0;
                    left:0;
                    z-index: 10;
                    width:100%;
                    height:100%;
                    display:flex;
                    .male{
                        padding-top: 25%;
                        flex:1;
                        margin-left: 3%
                    }
                    .female{
                        padding-top: 25%;
                        flex:1;
                        margin-left: -15%;
                    }
                }
                .scan-container{
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    .scan-div{
                        display: inline-block;
                        right:70px;
                        left:70px;
                        height:100%;
                        top:100%;
                        position:absolute;
                        background: url('/img/scan.png') no-repeat;
                        animation: runin 6s linear infinite;
                    }
                }
                .elipse-rotate{
                    transform-style: preserve-3d;
                    perspective: 1000;
                   .circle{
                       transform:rotateX(70deg);
                       transform-origin: 50%;
                   }
                   .circle-move{
                       animation: rounds 2s linear infinite;
                       animation-direction: alternate-reverse;
                   }
                   .circle-moves{
                       animation: rounds 2s linear infinite;
                       animation-delay: 1s;
                       animation-direction: alternate-reverse;
                   }
                }
                .woman-float{
                    animation: wfloat 1s linear infinite;
                    animation-direction: alternate-reverse;
                }
                .man-float{
                    animation: wfloat 1s linear infinite;
                    animation-delay: 1s;
                    animation-direction: alternate-reverse;
                }
                .customer-pic{
                    position:absolute;
                    top:120px;
                    bottom:50px;
                    left:20px;
                    right:50px;
                    background: linear-gradient(to bottom, #09203D, #110C32);
                    transform:scale(0.95);
                    .angel{
                        width:0;
                        height:0;
                        border-left:20px solid transparent;
                        border-right:20px solid transparent;
                        border-bottom:20px solid #02041D;
                        position:absolute;
                        transform:translateY(-20px) rotate(-45deg) translate(-20px);
                    }
                    .customer-right{
                      position: absolute;
                      left: 56%;
                      top: 50%;
                      transform:translate(-50%,-50%)
                    }
                }
                @keyframes runin {
                    79%{
                        top: 100%;
                    }
                    80% {
                        top:55%;
                    }
                    100% {
                        top:-30%;
                    }
                }
                @keyframes wfloat {
                    from {
                        transform:translateY(0px);
                    }
                    to {
                        transform:translateY(20px);
                    }
                }
                @keyframes rounds {
                    from {
                        transform:rotateX(70deg) rotate(0deg)
                    }
                    to {
                        transform: rotateX(70deg) rotate(180deg)
                    }
                }
                @keyframes flasha {
                    from {
                        opacity:1;
                    }
                    to {
                        opacity:0;
                    }
                }
                .four-angel{
                    animation: flasha 2s linear infinite;
                    animation-direction: alternate-reverse;
                }
                .svg-left{
                    width:100%;
                    height:100%;
                    transform:scale(0.95);
                }

            }
        }

    }
}
