.inner-scatter-container {
  display: flex;
  justify-content: center;
  padding-top:130px;

  .main-content {
    margin-top:100px;
  }
  .main-content:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }

  .china-map {
    float:left;
    width: 960px;
    height:600px;
  }
  .map{
    width: 130%;
    height: 130% !important;
    margin-left:-20%;
    margin-top:-10%;
  }

  .bar {
    float:left;
    width: 551.5px;
    height:600px;
    position: relative;
    .bar-title {
      width: 48px;
      height: 33px;
      color: #FFFCFF;
      text-align: center;
      line-height: 33px;
      font-size: 24px;
      position: absolute;
      left: 80px;
      top: 5px;
    }
    @keyframes fade-in {
      0% {opacity: 0;}/*初始状态 透明度为0*/
      40% {opacity: 0.2;}/*过渡状态 透明度为0*/
      100% {opacity: 1;}/*结束状态 透明度为1*/
    }
    .fadein{
      animation:fade-in 1s ease;
    }
    @keyframes fade-out {
      0% {opacity: 1;}/*初始状态 透明度为0*/
      40% {opacity: .2;}/*过渡状态 透明度为0*/
      100% {opacity: 0;}/*结束状态 透明度为1*/
    }
    .fadeout{
      animation:fade-out 1s ease;
    }
    .pillar-bg {
      width: 100%;
      height: 100%;
    }

    .pillar-list {
      bottom: 92px;
      left: 74px;
      position: absolute;
      .erea-wrap {
        position: relative;
        width: 100%;
        height: 450px;
      }
      .erea {
        width: 40px;
        margin: 0 20px;
        float: left;
        position: absolute;
        bottom: 10px;
        .erea::after {
          display: block;
          content: '';
          clear: both;
          height: 0;
        }
        .pillar {
          //position: absolute;
          //bottom:0;
          float: left;
          width: 4px;
          height: 100%;
          background-image: linear-gradient(rgba(52,208,245,0.60) 2%, rgba(60,134,248,0.30) 98%);
          transform: skewY(-45deg);
        }

        .name {
          font-size: 20px;
          color: #fff;
          position: absolute;
          bottom:-40px;
        }
      }
      .erea:nth-child(1) {
        left: 10px;
      }
      .erea:nth-child(2) {
        left: 90px;
      }
      .erea:nth-child(3) {
        left: 170px;
      }
      .erea:nth-child(4) {
        left: 250px;
      }
      .erea:nth-child(5) {
        left: 330px;
      }
    }

    .erea-wrap::after {
      display: block;
      content: '';
      clear: both;
      height: 0;
    }

  }

  .slide-btn {
    width:880px;
    margin: 60px auto 30px;
    height:62px;
  }

  .slide-wrap li {
    cursor: pointer;
    float: left;
    font-size: 30px;
    color: #fff;
    width: 182px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    position: relative;
    background-image: url("/img/normal.png");
    background-size: cover;
    background-position: center;
  }

  .slide-wrap li + li {
    margin-left: 44px;
  }

  .active {
    background-image: url("/img/active.png") !important;
    background-size: cover !important;
    background-position: center !important;
  }
}
