.svg-container{
    z-index: 10;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    height:70%;
    .left-degree {
        font-size: 25px;
        stroke:#fff;
        fill:#fff;
        stroke-width:1px;
        text-anchor: middle;
    }
    .english-degree{
        font-size: 15px;
        stroke:#fff;
        fill:#fff;
        stroke-width:1px;
        width:40px;
        text-anchor: middle;
    }
    .circle-dump{
        animation:dump 2s linear infinite;
        animation-direction: alternate-reverse;
        perspective: 1000;
        transform-style: preserve-3d;
    }
    @keyframes dump {
        from {
            transform:translateY(0);
        }
        to{
            transform:translateY(20px);
        }
    }
    .angle-flash{
        animation: angle 1s linear infinite;
        animation-direction: alternate-reverse;
    }
    @keyframes angle {
        from {
            opacity: 1
        }
        to {
            opacity: 0.3
        }
    }
}
.net-style{
        z-index: 1;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:75%;
        height:65%;
        overflow: hidden;
}