.BMap_cpyCtrl.BMap_noprint.anchorBL{
    display:none !important;
}
.compete-contatiner{
    height:100%;
    width:100%;
    .competess-content{
        position:relative;
        min-height: 900px;
        display:flex;
        padding:70px 80px;
        padding-top:50px;
        .competee-left{
            flex:3;
            position:relative;
            .compete-map{
                position:absolute;
                height:100%;
                width:100%;
                padding:20px;
                border:1px solid #6278F0;
                @keyframes roate-cross {
                    from {
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
                .cross-common {
                     .svg-container{
                        width:30px;
                        height:30px;
                    }
                    animation: roate-cross 1s linear infinite;
                }
                .cross-left-top{
                    position:absolute;
                    width:30px;
                    height:30px;
                    top:-15px;
                    left:-15px;
                }
                .cross-right-top{
                    position:absolute;
                    width:30px;
                    height:30px;
                    top:-15px;
                    right:-15px;
                }
                .cross-left-bottom{
                    position:absolute;
                    width:30px;
                    height:30px;
                    bottom:-15px;
                    left:-15px;
                
                }
                .cross-right-bottom{
                    position:absolute;
                    width:30px;
                    height:30px;
                    bottom:-15px;
                    right:-15px;
                }
            }
        }
        .compete-right{
            flex:2;
            .compete-right-title{
                height:120px;
                line-height: 120px;
                text-align: center;
                font-size: 30px;
                position: relative;
            }
            .compete-right-content{
                .line{
                    padding: 14px 0 13px 40px;
                    height:65px;
                    font-size: 12px;
                    span{
                        display: inline-block;
                        width: 90px;
                        height: 38px;
                        line-height: 38px;
                    }
                    .line-m{
                        width: 75%;
                        display: inline-block;
                        padding: 2px;
                        height: 36px;
                        border: 1px solid #0a2851;
                        position: relative;
                        margin-top: 17px;
                        vertical-align: bottom;
                        overflow: hidden;

                        .mask{
                            position: absolute;
                            right: 0;
                            top:0 ;
                            height: 36px;
                            background-color: #0a1c41;
                        }
                    }
                    i{
                        padding-left: 20px;
                        width: 30px;
                        display: inline-block;
                        height: 38px;
                        line-height: 38px;
                    }
                }
            }
        }
    }
}