.brand-logo {
    animation: twinkle 5s linear infinite alternate;
}

@keyframes twinkle {
    0% {transform: scale(.1,.1);filter: blur(0px);opacity:0;}
    25% {transform: scale(.5,.5); filter: blur(0px);opacity:0;}
    50% {transform: scale(1,1); filter: blur(0px);opacity:0;}
    100% {transform: scale(2,2);filter: blur(0px);opacity:1;}
}

.container {
    left: 0px;
    top:  0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
    overflow:hidden;
    zoom:1;
    position:absolute;
    /*background-image: linear-gradient(-225deg, #183D9D 0%, #0D1F51 100%);*/
    background-image: linear-gradient(-225deg, #0D1F51 0%, #183D9D 100%);
}

.header {
    left: 0px;
    top:  0px;
    height: 120px;
    width: 1920px;
    opacity: 1;
    position:absolute;
    /*background-image: linear-gradient(45deg, #134390 0%, #1E61CB 100%);*/
    background-image: linear-gradient(45deg, #1E61CB 0%, #134390 100%);
}

.header  .txt {
    left: 71px;
    top: 33px;
    height: 50px;
    line-height: 50px;
    margin-top: 34px;
    margin-left: 17px;
    font-family: PingFangSC-Regular;
    font-size: 36px;
    color: #FFFFFF;
    background-image: linear-gradient(-1deg, invalid gradient);
    float: left;
    display: flex;
    justify-content: center;
}
.header .txt .title-l, .header .txt .title-r {
  margin: 9px 16px;
  height: 34px;
  background: url(../../img/common/title-left.png) no-repeat;
}
.header .txt .title-r {
  transform: rotate(180deg);
}
.header  .logo {
  left: 1400px;
  top: 38px;
  width: 315px;
  height: 37px;
  margin-right: 24px;
  margin-top: 41px;
  margin-bottom: 41px;
  /* line-height: 110px; */
  background: url(../../img/common/wdlogo.png) no-repeat;
  float: right;
}
.left {
  left: 25px;
  top: 145px;
  height: 910px;
  width: 1181px;
  opacity: 1;
  position: absolute;
  box-shadow: 0 1px 10px 0;
}
