.feeling-bg {
  height: 786px;
  width: 1820px;
  margin: 186px 50px 108px;
  transform: scale(1.15, 1);
}

.feeling-container {
  height: 744px;
  width: 1714px;
  background: url("/img/feeling-background.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 206px;
  left: 102px;
  overflow: hidden;

  .feeling-star-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #004DA6;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    filter: blur(4px);
    animation: feeling-star-center 1s ease-in-out infinite alternate;
  }
  .feeling-star-left {
    position: absolute;
    left: -217px;
    height: 2px;
    width: 217px;
    background: linear-gradient(to right, #080A2B, #004EB0);
    animation: feeling-star-left 10s linear infinite;
  }
  .feeling-star-right {
    position: absolute;
    right: 0;
    height: 2px;
    width: 217px;
    background: linear-gradient(to left, #080A2B, #004EB0);
    animation: feeling-star-right 10s linear infinite;
  }

  .feeling-text-container {
    width: 227px;
    height: 98px;
    .left-circle, .right-circle {
      opacity: 0.5;
      animation: feeling-circle-change 2s ease-in-out infinite alternate;
    }
  }
  .feeling-main-container {
    width: 561px;
    height: 526px;
    margin-top: -24px;
    .rect-dasharray {
      animation: feeling-rect-dasharray 5s linear infinite;
    }
  }
  .feeling-wealth {
    width: 540px;
    height: 590px;
    background: red;
    position: absolute;
    z-index: 100;
    bottom: 60px;
    left: 97px;
    .transform-sm-1{
      width: 100%;
      height: 100%;
      background: #333;
      border: 1px solid #333;
      animation: sm 16s infinite;
      transform-origin:0 bottom 0;
    }
  }
  .feeling-loan {
    width: 157px;
    height: 174px;
    background: orange;
    position: absolute;
    left: 693px;
    top: 41px;
    .transform-big-1{
      width: 100%;
      height: 100%;
      background: #333;
      border: 1px solid #333;
      animation: big 16s infinite;
      transform-origin:0 0 0;
    }
  }
  .feeling-cost {
    width: 285px;
    height: 126px;
    background: green;
    position: absolute;
    left: 872px;
    bottom: 66px;
    .transform-big-2{
      width: 100%;
      height: 100%;
      background: #333;
      border: 1px solid #333;
      animation: big 16s infinite;
      transform-origin:0 bottom 0;
    }
  }
  .feeling-bill {
    width: 540px;
    height: 590px;
    background: pink;
    position: absolute;
    top: 41px;
    right: 94px;
    .transform-sm-2{
      width: 100%;
      height: 100%;
      background: #333;
      border: 1px solid #333;
      animation: sm 16s infinite;
      transform-origin:0 0 0;
    }
    .transform-big{
      width: 100%;
      height: 100%;
      background: #333;
      border: 1px solid #333;
      animation: big 12s ease-in-out;
      transform-origin:0 0 0;
    }
  }
}

@keyframes sm {
  0%{
    transform: scale(1);
  }
  16%{
    transform: scale(1);
  }
  32%{
    transform: scale(.37);
  }
  48%{
    transform: scale(.37);
  }
  64%{
    transform: scale(.37);
  }
  83%{
    transform: scale(.37);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes big {
  0%{
    transform: scale(1);
  }
  16%{
    transform: scale(1);
  }
  32%{
    transform: scale(1);
  }
  48%{
    transform: scale(2.7);
  }
  64%{
    transform: scale(2.7);
  }
  83%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes feeling-star-center {
  100% {
    width: 30px;
    height: 30px;
  }
}

@keyframes feeling-star-left {
  100% {
    left: 100%;
  }
}

@keyframes feeling-star-right {
  100% {
    right: 100%;
  }
}

@keyframes feeling-circle-change {
  100% {
    opacity: 1;
    transform-origin: center;
    transform: scale(1.3);
  }
}

@keyframes feeling-rect-dasharray {
  100% {
    stroke-dashoffset: 200px;
  }
}