.banner-title.banner-yellow {
  color: #E99610 !important;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.home-commerce {
  padding-top: 145px;
  padding-bottom: 70px;
  .banner-img {
    height: 316px;
    display: inline-block;
  }
  .img-container {
    position: relative;
    .span-hanabi {
      width: 3px;
      height: 30%;
      border-radius: 2px 2px 0 0;
      background: linear-gradient(to bottom, #328DEC, transparent);
      animation: hanabiCommerce 2s linear infinite;
      position: absolute;
    }
    .span-hanabi-0 {
      left: 50px;
    }
    .span-hanabi-1 {
      left: 250px;
      animation-delay: 1.4s;
    }
    .span-hanabi-2 {
      left: 400px;
      animation-delay: 0.7s;
    }
    @keyframes hanabiCommerce {
      0% {
        height: 0;
        top: 100%;
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      100% {
        height: 30%;
        top: 0;
        opacity: 1;
      }
    }
  }
  .commerce-bottom {
    padding: 0 44px;
    align-items: center;
  }
  .pillar {
    margin: 20px auto 220px;
    width: 250px;
    height: 145px;
    .pillar-animation {
      animation: pillarCommerce ease 2s infinite;
    }
    .oval {
      width: 207px;
      height: 41px;
      border: 1px solid #108EE9;
      border-top: 0;
      border-radius: 100%;
      margin-left: -14px;
      margin-top: -20px;
    }
    .pillar-title {
      margin-top: 25px;
      font-size: 25px;
      text-align: center;
    }
    @keyframes pillarCommerce {
      0%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-2px);
      }
    }
  }
  .image-bar-container {
    margin: 0 35px 0 25px;
    padding: 0 70px;
    position: relative;
    &::before {
      content: "{";
      font-size: 142px;
      opacity: 0.4;
      line-height: 1;
      position: absolute;
      left: 0;
    }
    &::after {
      content: "}";
      font-size: 142px;
      opacity: 0.4;
      line-height: 1;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .sub-title {
    font-size: 25px;
  }
  .num {
    color: #108EE9;
    font-size: 96px;
    font-family: DINCondensed-Bold;
    margin-right: 35px;
    margin-bottom: -30px;
  }
  .unit {
    font-size: 35px;
  }
  .bar-title {
    font-size: 36px;
    margin: 60px 0;
    text-align: center;
  }
  .money-container {
    //height: 14px;
    font-size: 25px;
    margin: 25px 0;
    .money-city {
      width: 170px;
      height: 50px;
      font-size: 14px;
    }
    .flex1{
      margin-left: 20px;
    }
    .money-color-container {
      height: 75%;
      //transform: translateY(15%);
      background: transparent;
      height: 50px;
    }
    .money-color {
      height: 100%;
      background: linear-gradient(-135deg, #108EE9 0%, #6D83F1 100%);
      float: left;
      height: 100%;
      position: relative;
      &::before {
        content: "";
        width:0;
        height:0;
        border-top:25px solid transparent;
        border-bottom:25px solid transparent;
        border-right:25px solid #108EE9;
        position: absolute;
        left: -9PX;
        top: 0;
        overflow: hidden;
        //transform: translateX(-100%);
      }
      &::after {
        content: "";
        width:0;
        height:0;
        border-top:25px solid transparent;
        border-bottom:25px solid transparent;
        border-left:25px solid #6D83F1;
        position: absolute;
        right: -8PX;
        top: 0;
        //transform: translateX(99%);
      }
    }
    .money-num {
      width: 170px;
      text-align: right;
    }
  }
}