.home-sum {
  // overflow: scroll;
  background: url("/img/bigbg.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  // width: 300vh;
  .dark-bg,
  .super-home {
    background: none;
  }
  // .super-home .home-earth-container {
  //   width: 1344px;
  //   height: 1344px;
  // }
}