.home-sum {
  overflow: scroll;
  background-image: url("/img/bigbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .dark-bg,.super-home{
    background: none;
  }
  .super-home .home-earth-container {
    width: 1344px;
    height: 1346px;
  }
}
