@import "../app";
.super-home {
  background: linear-gradient(to bottom, #05113D, #02041D);
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 103px;
  .home-title {
    margin: 0 auto; //16px; //58px 0 9px;
    // width: 1339px; //753px;
    height: 210px; // 118px;
    display: block;
  }
  .home-slogan-container {
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    border: 3.5px solid rgba(255, 255, 255, 0.41);
    border-radius: 67px; //36px;
    .home-slogan-container-sub {
      height: 110px; //62px;
      line-height: 110px;
      padding: 0 71px;
      // width: 695px;
      border-radius: 55px; //36px;
      font-size: 64px;
      // font-weight: bold;
      background: linear-gradient(90deg, rgba(28, 110, 208, 0.8), #2B1077);
      //   height: 62px;
      //   width: 680px;
      //   // font-size: 36px;
      //   // font-weight: bold;
      //   margin: 4px;
      //   border-radius: 31px;
      //   // background: linear-gradient(90deg, rgba(28, 110, 208, 0.8), #2B1077);
    }
  }
  .home-earth-container {
    margin: 35px auto;
    height: @home-earth-square;
    width: @home-earth-square;
    border: 3px solid rgba(255, 255, 255, 0.06);
    border-radius: 100%;
    position: relative;
    .home-earth-oval-1 {
      position: absolute;
      top: 3%;
      left: 3%;
      width: 94%;
      height: 94%;
      animation: ring1move 64s linear infinite;
    }
    .home-earth-oval-2 {
      position: absolute;
      top: 7%;
      left: 7%;
      width: 86%;
      height: 86%;
      animation: ring2move 48s linear infinite;
    }
    .home-earth {
      height: 84%;
      position: absolute;
      top: 8%;
      left: 8%;
      width: 84%;
      z-index: 100;
    }
    .home-star-container {
      position: absolute;
      width: @home-earth-square;
      height: @home-earth-square;
      z-index: 1;
      animation: starmove 40s linear infinite;
    }
    .home-background-star {
      position: absolute;
      &.star1 {
        bottom: 2%;
        right: 15%;
        width: 36px;
      }
      &.star2 {
        top: 5%;
        right: 1%;
        width: 50px;
      }
      &.star3 {
        top: 15%;
        left: 4%;
        width: 63px;
      }
      &.star4 {
        top: 20%;
        left: 1%;
        width: 32px;
      }
    }
  }
  .home-chart-title {
    font-weight: bold;
    font-size: 28px;
  }
  @keyframes ring1move {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  @keyframes ring2move {
    from {
      transform: rotateZ(360deg);
    }
    to {
      transform: rotateZ(0);
    }
  }
  @keyframes starmove {
    from {
      left: -@home-earth-square;
    }
    to {
      left: @home-earth-square;
    }
  }
}