.super-home {
  background: #02041D;
  text-align: center;
  height: 100vh;
  width: 100vw;

  .home-title {
    margin: 58px 0 9px 0;
    width: 753px;
    height: 118px;
  }

  .home-slogan-container {
    border: 2px solid rgba(255,255,255,0.41);
    height: 75px;
    width: 686px;
    margin: 0 auto;
    border-radius: 36px;
    .home-slogan-container-sub {
      height: 62px;
      width: 671px;
      font-size: 36px;
      font-weight: bold;
      margin: 4px;
      border-radius: 31px;
      background: linear-gradient(90deg, rgba(28,110,208, 0.8), #2B1077);
    }
  }
  .home-earth-container {
    margin: 31px auto 14px;
    height: 733px;
    width: 733px;
    border: 3px solid rgba(255,255,255,0.06);
    border-radius: 100%;
    position: relative;

    .home-earth-oval-1 {
      position: absolute;
      top: 3%;
      left: 3%;
      width: 94%;
      height: 94%;
    }
    .home-earth-oval-2 {
      position: absolute;
      top: 7%;
      left: 7%;
      width: 86%;
      height: 86%;
    }
  }

  .home-chart-title {
    font-weight: bold;
    font-size: 14px;
  }
}