.image-bar{
  display: inline-block;
  width:180px;

  .line{
    height: 36px;
  }
  .backImage{
    height: 24px;
    background-size: contain;
    background-repeat: repeat-x;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
    width:11px;
  }
  .percent {
    font-size: 24px;
    color: #EA6C6B;
    line-height: 1.5;
    text-align: right;
    font-weight: 200;
    float: right;
  }

}
