.three-pillar {
  position: relative;

  .canvas-container {
    width: 400px;
    height: 280px;
  }
  .title {
    width: 200px;
    border-bottom: 1px solid #FFFFFF;
    position: absolute;
    .name {
      font-size: 14px;
      color: #FFFFFF;
    }
    .percentage {
      font-size: 24px;
    }
    .word-r {
      text-align: right;
    }
  }
  .title-0 {
    left: -155px;
    top: 76px;
  }
  .title-1 {
    left: 241px;
    top: 24px;
  }
  .title-2 {
    left: 313px;
    bottom: 96px;
  }
}
