.inner-scatter-four {
  padding: 13PX;
  display: flex;
  align-items: flex-end;
  .map-out {
    width: 356PX;
    height: 231PX;
    position: relative;
    .hanabi {
      position: absolute;
      border-radius: 2PX 2PX 0 0;
    }
    .hanabi-1,
    .hanabi-3 {
      background: linear-gradient(to right, #328dec, transparent);
    }
    .hanabi-2,
    .hanabi-4 {
      background: linear-gradient(to left, #328dec, transparent);
    }
    .hanabi-1 {
      width: 60PX;
      height: 2PX;
      animation: hanabi-1 2s linear infinite;
    }
    .hanabi-2 {
      width: 30PX;
      height: 2PX;
      left: 255PX;
      animation: hanabi-2 2s linear infinite;
    }
    .hanabi-1,
    .hanabi-2 {
      top: 18PX;
    }
    .hanabi-3 {
      width: 50PX;
      height: 2PX;
      animation: hanabi-3 2s linear infinite;
    }
    .hanabi-4 {
      width: 15PX;
      height: 2PX;
      left: 250PX;
      animation: hanabi-4 2s linear infinite;
    }
    .hanabi-3,
    .hanabi-4 {
      bottom: 6PX;
    }

    @keyframes hanabi-1 {
      0% {
        width: 0;
        left: 165PX;
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        left: 80PX;
        opacity: 1;
      }
    }
    @keyframes hanabi-2 {
      0% {
        width: 0;
        left: 255PX;
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        left: 275PX;
        opacity: 1;
      }
    }
    @keyframes hanabi-3 {
      0% {
        width: 0;
        left: 145PX;
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        left: 60PX;
        opacity: 1;
      }
    }
    @keyframes hanabi-4 {
      0% {
        width: 0;
        left: 250PX;
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        left: 260PX;
        opacity: 1;
      }
    }
    .bg-pic {
      height: 241PX;
    }
    .map-inner {
      width: 340PX;
      height: 210PX;
      position: absolute;
      top: 17PX;
    }
    .map {
      width: 115%;
      height: 115% !important;
      margin-left: -4% !important;
      margin-top: -4% !important;
    }
  }
  .box-active {
    width: 172PX;
    height: 187PX;
    margin-left: 28PX;
    position: relative;
    transition: all linear 0.5s;
    .box-pic {
      height: 189PX;
      transition: all linear 0.5s;
    }
    .bar-title {
      color: #fffcff;
      text-align: center;
      font-size: 9PX;
      position: absolute;
      left: 24PX;
      top: 0;
      transition: all linear 0.5s;
    }
    .pillar-wrap {
      position: absolute;
      height: 110PX;
      top: 14PX;
      left: 24PX;
      display: flex;
      align-items: flex-end;
      transition: all linear 0.5s;
    }
    .erea {
      width: 15PX;
      margin: 0 6PX;
      display: flex;
      align-items: flex-end;
      transition: all linear 0.5s;
    }
    .name-wrap {
      position: absolute;
      top:134PX;
      left: 22PX;
      transition: all linear 0.5s;
      height: 33PX;
    }
    .name {
      height: 33PX;
      line-height: 11PX;
      float: left;
      font-size: 9PX;
      padding:0 9PX;
      color: #fff;
      width: 27PX;
      text-align: center;
      transition: all linear 0.5s;
    }
    .name-wrap-rotate {
      position: absolute;
      bottom: 13PX;
      left: 20PX;
      width: 150PX;
      transition: all linear 0.5s;
      height: 44PX;
    }
    .name-rotate {
      height: 44PX;
      line-height: 11PX;
      float: left;
      font-size: 9PX;
      color: #fff;
      width: 27PX;
      padding:0 8PX 0 10PX;
      text-align: center;
      // transform: rotate(-28deg);
      transition: all linear 0.5s;
    }
  }
  .box {
    width: 135PX;
    height: 148PX;
    margin-left: 28PX;
    position: relative;
    transition: all linear 0.5s;
    .box-pic {
      height: 150PX;
      transition: all linear 0.5s;
    }
    .bar-title {
      color: #fffcff;
      text-align: center;
      font-size: 5PX;
      position: absolute;
      left: 20PX;
      top: 2PX;
      transition: all linear 0.5s;
    }
    .pillar-wrap {
      position: absolute;
      height: 80PX;
      top: 18PX;
      left: 24PX;
      display: flex;
      align-items: flex-end;
      transition: all linear 0.5s;
    }
    .erea {
      width: 15PX;
      margin: 0 3PX;
      display: flex;
      align-items: flex-end;
      transition: all linear 0.5s;
    }
    .name-wrap {
      position: absolute;
      bottom: 12PX;
      left: 22PX;
      transition: all linear 0.5s;
      height: 27PX;
    }
    .name {
      height: 27PX;
      line-height: 9PX;
      float: left;
      font-size: 7PX;
      color: #fff;
      width: 21PX;
      padding:0 8PX;
      transition: all linear 0.5s;
    }
    .name-wrap-rotate {
      width: 150PX;
      position: absolute;
      bottom: 10PX;
      left: 22PX;
      transition: all linear 0.5s;
      height: 36PX;
    }
    .name-rotate {
      height: 36PX;
      line-height: 9PX;
      float: left;
      font-size: 7PX;
      color: #fff;
      text-align: center;
      width: 21PX;
      padding:0 8PX;
      // transform: rotate(-28deg);
      transition: all linear 0.5s;
    }
  }
  .pillar {
    width: 1PX;
    height: 100%;
    background-image: linear-gradient(rgba(52, 208, 245, 0.60) 2%, rgba(60, 134, 248, 0.30) 98%);
    transform: skewY(-45deg);
    transition: all linear 0.5s;
  }
  .name-wrap::after {
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}
