<!DOCTYPE >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全球招商平台品牌展示</title>
    <link href=@routes.Assets.at("brand_wall/css/brand_wall_blueStyle.css") rel="stylesheet">
  </head>

  <body>
    <div  class="container">
      <div class="header">

        <p class="txt">
          <img class="title-l" src=@routes.Assets.at("img/common/title-left.png") alt="">
          <span>飞凡全球招商平台招商会--南京站</span>
          <img class="title-r" src=@routes.Assets.at("img/common/title-left.png") alt="">
        </p>

        <div class="logo"></div>
      </div>
<!--script type="text/javascript">

var i = 0;
//网页加载完成
window.onload=function(){
	//更改网页背景色
	//document.body.bgColor="#371756";
	//定时器:2秒出现一个笑脸
	window.setInterval("star()",2000);
}
//动画主函数
function star(){

		if (i>=10){
			i = 1
		}else {
			i++;
		}
		var num = i-5<=0 ? i+5 : i-5;
		removeImg(num);
	for (var k = 1; k<=6; k++) {
		//创建img节点
		var imgObj=document.createElement("img");
		//添加节点属性
		imgObj.setAttribute("src","assets/brand_wall/images/"+(6*(i-1)+k)+".png");
		imgObj.setAttribute("title","brand");
		imgObj.setAttribute("id",(6*(i-1)+k));

		// //添加width属性。getRandom()随机数函数
		imgObj.setAttribute("width",100);
		//创建style属性（行内样式)
		var x=getRandom(0,window.innerWidth-100);
		var y=getRandom(0,window.innerHeight-100);
		imgObj.setAttribute("style","position:absolute;left:"+x+"px;top:"+y+"px");
		addClass(imgObj, 'brand-logo');
		//添加onclick事件属性,点击图片消失
		imgObj.setAttribute("onclick","removeImg(this)");

		document.body.appendChild(imgObj);
	}



}
//函数：求函数随机数
function getRandom(min,max){
	var random=Math.random()*(max-min)+min;
	random=Math.floor(random);
	return random;
}
//函数：删除节点
function removeImg(i){
		for (var k = 1; k<=6; k++) {
			var obj = document.getElementById(6*(i-1)+k);
			if(obj){
				document.body.removeChild(obj);
			}
		}
}
//函数  添加class
function addClass(obj, cls){
  var obj_class = obj.className,//获取 class 内容.
  blank = (obj_class != '') ? ' ' : '';//判断获取到的 class 是否为空, 如果不为空在前面加个'空格'.
  added = obj_class + blank + cls;//组合原来的 class 和需要添加的 class.
  obj.className = added;//替换原来的 class.
}
</script-->
    </div>
    <script type="text/javascript" src=@routes.Assets.at("brand_wall/js/brand_dyn.js")></script>
  </body>
</html>
