
<!DOCTYPE HTML>
<html>
<head>
<title>上海万达广场客群来源</title>
<META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href=@routes.Assets.at("cust_source/css/common.css") />
<link rel="stylesheet" href=@routes.Assets.at("cust_source/css/style.css") />
<link rel="stylesheet" href=@routes.Assets.at("cust_source/css/clock.css") />
<link rel="stylesheet" href=@routes.Assets.at("css/common/header.css") />
<link href=@routes.Assets.at("css/cust_source.css") rel="stylesheet">
<!--
    <style>
        html, body {
            overflow: hidden;
        }
        .logo {
            height: 77px;
            width: 297px;
            background: url(./img/logo3.png) no-repeat;
            color: transparent;
            text-indent: 86px;
            float: right;
            margin: 65px 70px 0 0;
            position: relative;
            z-index: 99999;
        }
    </style>
-->
</head>
<body>
    <div class="header">
        <div class="logo">万达集团</div>
        <div class="title">万达广场客群来源</div>
    </div>
    <div id="map" class="map"></div>
    <ul class="left-bar" id="left-bar">
      <li key="wujiaochang" class="current">五角场万达</li>
      <li key="songjiang">松江万达</li>
      <li key="zhoupu">周浦万达</li>
    </ul>

    <div class="loading" id="loading">加载中......</div>

    <div class="clockArea" id="clockArea">
    <div class="fill">
      <div class="reference"></div>
      <div class="clock" id="utility-clock">
        <div class="centre">
          <div class="dynamic"></div>
          <div class="expand round circle-1"></div>
          <div class="anchor hour">
            <div class="element thin-hand"></div>
            <div class="element fat-hand"></div>
          </div>
          <div class="anchor minute">
            <div class="element thin-hand"></div>
            <div class="element fat-hand minute-hand"></div>
          </div>
          <div class="anchor second">
            <div class="element second-hand"></div>
          </div>
          <div class="expand round circle-2"></div>
          <div class="expand round circle-3"></div>
        </div>
      </div>
    </div>
    </div>

    <div class="tip" style="display:none;"></div>
    <!--div id="dh-title" class="dh-title"></div-->


    <script type="text/javascript" src=@routes.Assets.at("cust_source/js/jquery.min.js")></script>
    <script type="text/javascript" src=@routes.Assets.at("cust_source/js/api.js")></script>
    <script type="text/javascript">
    function isMobile() {
      var isMobile = {
        Android: function() {
          return navigator.userAgent.match(/Android/i) ? true : false;
        },
        BlackBerry: function() {
          return navigator.userAgent.match(/BlackBerry/i) ? true : false;
        },
        iOS: function() {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
        },
        Windows: function() {
          return navigator.userAgent.match(/IEMobile/i) ? true : false;
        },
        any: function() {
          return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
        }
      };
      if (isMobile.any()) {
        return true;
      }
      return false;
    }
    window.isMobile = isMobile;

    </script>
    <script type="text/javascript" src=@routes.Assets.at("cust_source/js/MapMask.js")></script>
    <script type="text/javascript" src=@routes.Assets.at("cust_source/js/TrafficLayer.js")></script>
    <script type="text/javascript" src=@routes.Assets.at("cust_source/js/clock.js")></script>
    <script type="text/javascript" src=@routes.Assets.at("cust_source/js/main.js?v=1")></script>

<script type="text/javascript">

document.addEventListener('fullscreenchange', function(e){
  console.log(e);
})

</script>
    
</body>
</html>
