@(title: String)
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>@{title}</title>
        <script type="text/javascript" src=@routes.Assets.at("js/jquery.min.js")></script>
        <!--link rel="stylesheet" href=@routes.Assets.at("css/main.css")-->
        <link rel="stylesheet" href=@routes.Assets.at("css/plaza_brand.css")>
</head>
<body>
<div class="bg">
        <div class="header">
                <div class="title">@title</div>
                <!--div class="logo">万达集团</div-->
        </div>
	<div id="logos">
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>

		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>

		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>

		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
		<div class="cell"><div></div></div>
	</div>
</div>
	


<script type="text/javascript">

var config = [20, 33.3333, 6, 4];
var demoDelay = 1000;
var C = 3;

$('.cell > div').each(function(idx, dom){
	var x = idx % config[2], y = Math.floor(idx / config[2]);
	$(dom).css({
		'background-position': (x * config[0] - 0) + '% ' + (y * config[1]) + '%'
	})
});

function randomData(callback){
	var count = config[2] * config[3];
	var c = Math.ceil(count * Math.random() / 6) + 3;
	c = C;
	var arr = [];
	while(c > 0){
		var idx = Math.floor(count * Math.random());
		if(arr.indexOf(idx) > -1){
			continue;
		} else {
			c--;
			arr.push(idx);
		}
	}
	callback(arr);
	setTimeout(function(){
		randomData(callback);
	}, demoDelay);
}
randomData(function(data){
	$('.cell').removeClass('active').each(function(idx, dom){
		if(data.indexOf(idx) > -1){
			$(dom).addClass('active');
		}
	})
});



</script>


</body>
</html>
