<!DOCTYPE html>

<html>
    <head>
        <title>广场客群动态</title>
        <link href=@routes.Assets.at("css/pplt_move.css") rel="stylesheet">
    </head>
    <body>
        <div id="container" class="container">
            <div class="header">
               <p class="txt">万达广场五角场店－－大数据分析</p>
               <div class="logo"></div>              
            </div>
            <div id="map" class="left"><p>left_map</p></div>
            <div class="right">
                <div id="right_blk1" class="right_blk1">
                    <div class="hd"><p class="txt">万达广场五角场店</p></div>
                    <p class="pLoc">地理位置：上海市杨浦区</p>
                    <p class="pTgt">项目定位：餐饮、零售为主</p>
                    <p class="pTraffic">交通路线：花木2路，地铁10号线，889路</p>
                    <div id="transpBtmCtn" class="transpBtmCtn">
                        <div id="chart1" class="subChart">
                            <div id="chart1_ctn" style="height:169px;width:199px;margin:0">
                            </div>
                        </div>
                        <div id="chart2" class="subChart">
                            <div id="chart2_ctn" style="height:169px;width:199px;margin:0">
                            </div>
                        </div>
                        <div id="chart3" class="subChart">
                            <div id="chart3_ctn" style="height:169px;width:199px;margin:0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_blk2">
                    <p class="hd">辐射人群总数</p>
                    <p class="num">2819267</p>
                    <div id="chart5" class="subChart2">
                        <div id="chart5_ctn" style="height:100%;width:100%;margin:0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("echarts3_src/echarts.js")" type="text/javascript"></script>
    <script src=@routes.Assets.at("pplt_move/js/lineChart.js")></script>
    <script src=@routes.Assets.at("pplt_move/js/rsRatio.js")></script>
    <script src=@routes.Assets.at("pplt_move/js/orderLine.js")></script>
    <script src=@routes.Assets.at("pplt_move/js/locPop.js")></script>
    <script type="text/javascript" src=@routes.Assets.at("pplt_move/js/api.js")></script>
    <script type="text/javascript">
        function isMobile() {
            var isMobile = {
                Android: function() {
                    return navigator.userAgent.match(/Android/i) ? true : false;
                },
                BlackBerry: function() {
                   return navigator.userAgent.match(/BlackBerry/i) ? true : false;
                },
                iOS: function() {
                    return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
                },
                Windows: function() {
                    return navigator.userAgent.match(/IEMobile/i) ? true : false;
                },
                any: function() {
                    return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
                }
            };
            if (isMobile.any()) {
                return true;
            }
            return false;
        }
        window.isMobile = isMobile;
    </script>

    <script type="text/javascript" src=@routes.Assets.at("pplt_move/js/MapMask.js")></script>
    <script type="text/javascript" src=@routes.Assets.at("pplt_move/js/TrafficLayer.js")></script>
    <!--script type="text/javascript" src=@routes.Assets.at("pplt_move/js/clock.js")></script-->
    <script type="text/javascript" src=@routes.Assets.at("pplt_move/js/main.js?v=1")></script>
    <!--script src=@routes.Assets.at("high_cust/js/jquery.js")></script-->
    <script src=@routes.Assets.at("high_cust/js/bootstrap.min.js")></script>
    <script src=@routes.Assets.at("high_cust/js/jquery.scrollUp.js")></script>
    
</html>
