<!DOCTYPE >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全球招商平台项目展示</title>
    <link href=@routes.Assets.at("project_wall/css/project_wall_blueStyle.css") rel="stylesheet">
  </head>

  <body>
    <div  class="container">
      <div class="header">

        <p class="txt">
          <img class="title-l" src=@routes.Assets.at("img/common/title-left.png") alt="">
          <span>飞凡全球招商平台招商会--南京站</span>
          <img class="title-r" src=@routes.Assets.at("img/common/title-left.png") alt="">
        </p>

        <div class="logo"></div>
      </div>
    </div>
    <script type="text/javascript" src=@routes.Assets.at("project_wall/js/project_dyn.js")></script>
  </body>
</html>
