<!DOCTYPE html>

<html>
    <head>
        <title>万达商圈分析</title>
        <link href=@routes.Assets.at("brand_wall/css/brand_wall_blueStyle.css") rel="stylesheet">
        <link href=@routes.Assets.at("wd_3km/css/wd_3km_blueStyle.css") rel="stylesheet">
    </head>
    <body>
        <div id="container" class="container">
          <div class="header">

            <p class="txt">
              <img class="title-l" src=@routes.Assets.at("img/common/title-left.png") alt="">
              <span>万达广场五角场店——大数据分析</span>
              <img class="title-r" src=@routes.Assets.at("img/common/title-left.png") alt="">
            </p>

            <div class="logo"></div>
          </div>
            <div id="map" class="left"><p></p></div>
            <div id="right"  class="right">
                <div class="header">
                    <div class="ctn">
                        广场3km内分布
                    </div>
                </div>
                <div id="echart_right" style="width:640px;height:460px;left:17px;top: 17px;bottom:2px;position:absolute;"></div>
                <div id="right_blk2" class="right_blk2">
                     <div class="subChart1">
                         <div class="ctn"><p class="name">居民区</p></div>
                         <div class="ctn1"><p class="value">392</p></div>
                         <img src=@routes.Assets.at("wd_3km/image/people.png") class="img1"></img>
                     </div>
                     <div class="subChart2">
                         <div class="ctn"><p class="name">写字楼</p></div>
                         <div class="ctn1"><p class="value">125</p></div>
                         <img src=@routes.Assets.at("wd_3km/image/building.png") class="img2"></img>
                     </div>
                     <div class="subChart3">
                         <div class="ctn"><p class="name">学校</p></div>
                         <div class="ctn1"><p class="value">10</p></div>
                         <img src=@routes.Assets.at("wd_3km/image/school.png") class="img3"></img>
                     </div>
                     <div class="subChart4">
                         <div class="ctn"><p class="name">商业广场</p></div>
                         <div class="ctn1"><p class="value">28</p></div>
                         <img src=@routes.Assets.at("wd_3km/image/plaza.png") class="img4"></img>
                     </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=bAKZxvhoHXrMbUwKnuHlPCzQGf29mIAf"></script>
    <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("echarts3_src/echarts.js")" type="text/javascript"></script>
    <script src=@routes.Assets.at("wd_3km/js/right.js")></script>
    <script src=@routes.Assets.at("wd_3km/js/myMap.js")></script>
</html>
