.parking-container{
    padding:160px 100px;
    height:100%;
    .parking-layout{
        position:relative;
        width:100%;
        height:100%;
        transform-style: preserve-3d;
        perspective: 1500;
        perspective-origin: 50% 30%;
        .layout-front{
            width:100%;
            position:absolute;
            height:100px;
            background: linear-gradient(#0E55D7, #082974 50%, #040D34);
            bottom:0;
            border-top:1px solid #3984E1;
        }
        .layout-head{
            position:absolute;
            border:2px solid #3984E1;
            bottom:100px;
            transform-origin:left bottom;
            transform:rotateX(90deg);
            background: #074AC5;
            width:100%;
            height:100%;
        }
        .bar-container{
            background:linear-gradient(#23D4FF,#1582FF 100%);
            width:60%;
            height:80%;
            position:absolute;
            bottom:100px;
            left:20%;
            display:flex;
            .angel-style {
                width:30%;
                height:40%;
            }
            .left-top-angel{
                position:absolute;
            }
            .rigth-top-angel{
                position:absolute;
                right:0;
                transform:rotateY(180deg);
            }
            .left-bottom-angel{
                position:absolute;
                bottom:0;
                transform:rotateX(-180deg);
            }
            .right-bottom-angel{
                position:absolute;
                bottom:0;
                right:0;
                transform:rotateX(-180deg) rotateY(180deg);
            }
            .top-bar{
                position:absolute;
                width:20%;
                left:40%;
                height:10%;
                top:-6px;
            }
            .right-info{
                flex:2;
                position:relative;
                .right-bgsvg{
                    position:absolute;
                    width:80%;
                    height:100%;
                    left:10%;
                    transform: scale(0.9);
                }

                .right-carinfo{
                    width: 80%;
                    height: 432px;
                    position: absolute;
                    left: 10%;
                    top:100px;
                    transform: scale(0.9);
                    .area{
                        position: absolute;
                        top: 24px;
                        width: 100%;
                        height: 42px;
                        span{
                            position: absolute;
                            left: 50%;
                            transform:translate(-50%);
                            width: 130px;
                            height: 42px;
                            text-align: center;
                            line-height: 42px;
                            font-size: 20px;
                            background-color: green;
                            i{
                                font-size: 12px;
                            }
                        }

                    }
                    .averageCost{
                        width: 100%;
                        height: 58px;
                        position: absolute;
                        top: 92px;
                        span{
                            position: absolute;
                            display:block;
                            left: 37px;
                            // width: 156px;
                            height: 30px;
                            line-height: 30px;
                            font-size: 14px;
                            border-bottom: 2px solid #09cdc6;
                            &:before{
                                content:"";
                                position: absolute;
                                width: 12px;
                                height: 12px;
                                background:url("/img/arrow.svg");
                                left: -18px;
                                top: 6px;
                            }
                        }
                        .averageMoney{
                            span{
                                position: absolute;
                                display: block;
                                left: 78px;
                                height: 30px;
                                font-size: 24px;
                                top: 47px;
                                border:none;
                                i{
                                    font-size: 12px;
                                }
                                &:before{
                                    content:"";
                                    position: absolute;
                                    width: 27px;
                                    height: 27px;
                                    // background-color: red;
                                    left: -27px;
                                    top: 4px;
                                    background:url("/img/gold.svg")
                                }
                            }

                        }

                    }
                    .carProportion{
                        width: 100%;
                        position: absolute;
                        top: 186px;
                        height: 172px;
                        .span1{
                            display:block;
                            position: absolute;
                            left: 37px;
                            // width: 102px;
                            height: 30px;
                            line-height: 30px;
                            border-bottom: 2px solid #09cdc6;
                            font-size: 12px;
                            &:before{
                                content:"";
                                position: absolute;
                                width: 12px;
                                height: 12px;
                                left: -18px;
                                top: 6px;
                                background:url("/img/arrow.svg")
                            }
                        }

                        .isProportion{
                            margin-top: 72px;
                            width: 50%;
                            float: left;
                            height: 140px;
                            position: relative;
                            span{
                                display: block;
                                position: absolute;
                                font-size: 12px;
                                left: 50%;
                                top: -25px;
                                transform: translateX(-50%)
                            }
                            img{
                                position: absolute;
                                left: 50%;
                                transform:translateX(-50%);
                                height: 100px;
                                width: 80px;
                                bottom: 40px;
                            }
                           p{
                            width: 100%;
                            height: 40px;
                            margin-top: 100px;
                            font-size: 12px;
                            text-align: center;
                           }
                        }
                        .isnotProportion{
                            margin-top: 72px;
                            width: 50%;
                            height: 140px;
                            float: right;
                            position: relative;
                            span{
                                display: block;
                                position: absolute;
                                font-size: 12px;
                                left: 50%;
                                top: -10px;
                                transform: translateX(-50%)
                            }
                            img{
                                position: absolute;
                                left: 50%;
                                bottom: 40px;
                                transform:translateX(-50%);
                                height: 100px;
                                width: 80px;
                            }
                            p{
                                width: 100%;
                                height: 40px;
                                margin-top: 100px;
                                font-size: 12px;
                                text-align: center;
                           }
                        }
                    }
                }
            }
            .left-info{
                flex:3;
                position:relative;
                .mask{
                    position:absolute;
                    width:100%;
                    height:100%;
                    z-index: 10;
                }
                .left-map{
                    position:absolute;
                    z-index: 1;
                    width:100%;
                    left:50%;
                    top:50%;
                    transform:translate(-50%,-50%) scale(1.2);
                }
                .city-area{
                    position:absolute;
                    text-align: center;
                    font-size: 10px;
                    bottom:11%;
                    width:100%;
                }
            }
        }
        .bar-container-1{
            transform: translateZ(-200px);
            animation: reversea 20s linear infinite;
            animation-direction: alternate-reverse;
        }
        @keyframes reversea {
            30%{
                filter: blur(0px);
                transform: translateZ(-200px);
            }
            40% {
                filter: blur(5px);
                transform:translateX(-300px) translateZ(-600px);
            }
            70%{
                filter: blur(5px);
                transform:translateX(-300px) translateZ(-600px);
            }
            80% {
                filter: blur(5px);
                transform:translateX(300px) translateZ(-600px);
            }
            100%{
                filter: blur(5px);
                transform:translateX(300px) translateZ(-600px);
            }
        }
        .bar-container-2{
            transform: translateZ(-600px) translateX(-300px);
            filter: blur(5px);
            animation: reverseb 20s linear infinite;
            animation-direction: alternate-reverse;
        }
        @keyframes reverseb {
            30%{
                filter: blur(5px);
                transform: translateZ(-600px) translateX(-300px);
            }
            40% {
                filter: blur(5px);
                transform:translateX(300px) translateZ(-600px);
            }
            70% {
                filter: blur(5px);
                transform:translateX(300px) translateZ(-600px);
            }
            80% {
                filter: blur(0px);
                transform:translateX(0px) translateZ(-200px);
            }
            100% {
                filter: blur(0px);
                transform:translateX(0px) translateZ(-200px);
            }
        }
        .bar-container-3{
            transform: translateZ(-600px) translateX(300px);
             filter: blur(5px);
             animation: reversec 20s linear infinite;
             animation-direction: alternate-reverse;
        }
        @keyframes reversec {
            30%{
                filter: blur(5px);
                transform: translateZ(-600px) translateX(300px);
            }
            40% {
                filter: blur(0px);
                transform:translateX(0px) translateZ(-200px);
            }
            70% {
                filter: blur(0px);
                transform:translateX(0px) translateZ(-200px);
            }
            80% {
                filter: blur(5px);
                transform:translateX(-300px) translateZ(-600px);
            }
            100% {
                filter: blur(5px);
                transform:translateX(-300px) translateZ(-600px);
            }
        }
    }
}