.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left bottom, #02041D, #041B26);
  &-header-logo,
  &-header-title,
  .main-footer-left,
  .main-footer-right,
  .main-header-left,
  .main-header-right {
    position: absolute;
    z-index: 100;
  }
  .main-header-left {
    transform: translateY(-30px) rotate(180deg) rotateX(180deg);
  }
  .main-header-right {
    transform: translateY(-30px);
  }
  .main-footer-left {
    transform: rotate(180deg);
  }
  .main-footer-right {
    transform: rotateX(180deg);
  }
  &-header-logo {
    top: 39px;
    right: 25px;
    height: 37px;
    width: 315px;
  }
  &-header-left {
    left: 0;
    top: 97px;
    .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(18, 143, 234, .5);
    }
    .circle1 {
      top: 26px;
      left: 462px;
      animation: circle1 2s linear 0s infinite;
    }
    .circle2 {
      top: 26px;
      left: 487px;
      animation: circle1 2s linear 0.5s infinite;
    }
    .circle3 {
      top: 26px;
      left: 509px;
      animation: circle1 2s linear 1s infinite;
    }
    .circle4 {
      top: 26px;
      left: 533px;
      animation: circle1 2s linear 1.5s infinite;
    }
    .circle5 {
      background-color: rgba(18, 143, 234, 1);
      top: 3px;
      left: 498px;
      animation: circle2 2s linear 2s infinite;
    }
  }
  &-header-right {
    right: 0;
    top: 97px;
    .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(18, 143, 234, .5);
    }
    .circle1 {
      top: 26px;
      right: 463px;
      animation: circle1 2s linear 0s infinite;
    }
    .circle2 {
      top: 26px;
      right: 485px;
      animation: circle1 2s linear 0.5s infinite;
    }
    .circle3 {
      top: 26px;
      right: 509px;
      animation: circle1 2s linear 1s infinite;
    }
    .circle4 {
      top: 26px;
      right: 533px;
      animation: circle1 2s linear 1.5s infinite;
    }
    .circle5 {
      background-color: rgba(18, 143, 234, 1);
      top: 3px;
      right: 498px;
      animation: circle2 2s linear 2s infinite;
    }
  }
  &-footer-left {
    left: 0;
    bottom: 3px;
    .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(18, 143, 234, .5);
    }
    .circle1 {
      top: 14px;
      left: 462px;
      animation: circle1 2s linear 0s infinite;
    }
    .circle2 {
      top: 14px;
      left: 487px;
      animation: circle1 2s linear 0.5s infinite;
    }
    .circle3 {
      top: 14px;
      left: 509px;
      animation: circle1 2s linear 1s infinite;
    }
    .circle4 {
      top: 14px;
      left: 533px;
      animation: circle1 2s linear 1.5s infinite;
    }
    .circle5 {
      background-color: rgba(18, 143, 234, 1);
      top: 35px;
      left: 497px;
      animation: circle2 2s linear 2s infinite;
    }
  }
  &-footer-right {
    right: 0;
    bottom: 3px;
    .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(18, 143, 234, .5);
    }
    .circle1 {
      top: 14px;
      right: 463px;
      animation: circle1 2s linear 0s infinite;
    }
    .circle2 {
      top: 14px;
      right: 485px;
      animation: circle1 2s linear 0.5s infinite;
    }
    .circle3 {
      top: 14px;
      right: 509px;
      animation: circle1 2s linear 1s infinite;
    }
    .circle4 {
      top: 14px;
      right: 533px;
      animation: circle1 2s linear 1.5s infinite;
    }
    .circle5 {
      background-color: rgba(18, 143, 234, 1);
      top: 35px;
      right: 497px;
      animation: circle2 2s linear 2s infinite;
    }
  }
  @keyframes circle1 {
    0% {
      background-color: rgba(18, 143, 234, 1);
    }
    100% {
      background-color: rgba(18, 143, 234, .5);
    }
  }
  @keyframes circle2 {
    0% {
      box-shadow: 0 0 0 0 #118fea;
    }
    50% {
      box-shadow: 0 0 12px 3px #118fea;
    }
    100% {
      box-shadow: 0 0 15px 7px #118fea;
    }
  }
  &-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &-image-base {
    width: 593px;
    height: 50px;
  }
  &-header-title {
    top: 35px;
    left: 28px;
    display: flex;
    align-items: center;
    span {
      height: 34px;
      background: #fff;
    }
    .title-pattern-1 {
      margin: 0 5px;
      width: 5px;
    }
    .title-pattern-2 {
      width: 12px;
    }
    .title-name {
      font-size: 36px;
      padding: 0 16px;
    }
  }
}
.test-svg {
  width: 593px;
  height: 50px;
  margin: 20px auto;
  &-polyline {
    animation: polylinemove 5s ease-in-out infinite alternate;
  }
  &-circle {
    animation: testcirclemove 1.5s ease-in-out 5s infinite alternate;
  }
  @keyframes polylinemove {
    from {
      stroke-dasharray: 0, 200%;
    }
    to {
      stroke-dasharray: 200%, 0;
    }
  }
  @keyframes testcirclemove {
    from {
      stroke: #108EE9;
      //transform: scale(1);
    }
    to {
      stroke: #fff;
      transform-origin: center;
      transform: scale(1.2);
      //r: 11;
    }
  }
}