.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left bottom, #02041D, #041B26);
  &-header-logo,
  &-header-title,
  .main-footer-left,
  .main-footer-right,
  .main-header-left,
  .main-header-right {
    position: absolute;
    z-index: 100;
  }
  // .main-header-left {
  // transform: rotateX(180deg); //translateY(-30px) 
  // }
  .main-header-right {
    transform: rotateY(180deg);
  }
  .main-footer-left {
    transform: rotateX(180deg);
  }
  .main-footer-right {
    transform: rotate(180deg);
  }
  &-header-logo {
    top: 39px;
    right: 25px;
    height: 37px;
    width: 315px;
  }
  &-header-left {
    left: 0;
    top: 87px;
  }
  &-header-right {
    right: 0;
    top: 87px;
  }
  &-footer-left {
    left: 0;
    bottom: 23px;
  }
  &-footer-right {
    right: 0;
    bottom: 23px;
  }
  @keyframes circle1 {
    0% {
      background-color: rgba(18, 143, 234, 1);
    }
    100% {
      background-color: rgba(18, 143, 234, .5);
    }
  }
  @keyframes circle2 {
    0% {
      box-shadow: 0 0 0 0 #118fea;
    }
    50% {
      box-shadow: 0 0 12px 3px #118fea;
    }
    100% {
      box-shadow: 0 0 15px 7px #118fea;
    }
  }
  &-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &-image-base {
    width: 593px;
    height: 50px;
  }
  &-header-title {
    top: 35px;
    left: 28px;
    display: flex;
    align-items: center;
    span {
      height: 34px;
      background: #fff;
    }
    .title-pattern-1 {
      margin: 0 5px;
      width: 5px;
    }
    .title-pattern-2 {
      width: 12px;
    }
    .title-name {
      font-size: 36px;
      padding: 0 16px;
    }
  }
}
.layout-svg {
  width: 597px;
  height: 63px;
  &-polyline {
    animation: mainLayoutLineMove 5s ease-in-out infinite alternate;
  }
  &-circle {
    transform-origin: center;
    animation: mainLayoutCircleMove 1.5s ease-in-out 5s infinite alternate;
  }
  @keyframes mainLayoutLineMove {
    from {
      stroke-dasharray: 0, 200%;
    }
    to {
      stroke-dasharray: 200%, 0;
    }
  }
  @keyframes mainLayoutCircleMove {
    from {
      stroke: #108EE9;
    }
    to {
      stroke: #fff;
      transform: scale(1.2);
    }
  }
}